<div class="rp-consentimiento" [class]="'rp-consentimiento--' + contenido.tono">
  <header class="rp-consentimiento-cabecera">
    <div class="rp-consentimiento-icono">
      <mat-icon>{{ contenido.icono }}</mat-icon>
    </div>
    <div class="rp-consentimiento-titulos">
      <span class="rp-consentimiento-antetitulo">{{ contenido.antetitulo }}</span>
      <h2 class="rp-consentimiento-titulo" >{{ contenido.titulo }}</h2>
    </div>
  </header>

  <mat-dialog-content class="rp-consentimiento-cuerpo">
    @for (parrafo of parrafos; track $index) {
      <p class="rp-consentimiento-parrafo">
        @for (segmento of parrafo.segmentos; track $index) {
          @if (segmento.url) {
            <a
              class="rp-consentimiento-enlace"
              [href]="segmento.url"
              target="_blank"
              rel="noopener noreferrer"
              >{{ segmento.texto }}</a
            >
          } @else {
            {{ segmento.texto }}
          }
        }
      </p>
    }
  </mat-dialog-content>

  <mat-dialog-actions class="rp-consentimiento-acciones">
    @for (boton of contenido.botones; track boton.accion) {
      <button
        type="button"
        class="rp-consentimiento-boton"
        [class.rp-consentimiento-boton--destacado]="boton.destacado"
        (click)="accion(boton.accion)"
      >
        <mat-icon>{{ boton.icono }}</mat-icon>
        <span>{{ boton.texto }}</span>
      </button>
    }
  </mat-dialog-actions>
</div>
